name: Linting

on:
  workflow_call:

jobs:
  end-of-line:
    name: Check for CRLF vs LF
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5

      - name: Use action to check for CRLF endings
        uses: erclu/check-crlf@94acb86c2a41b0a46bd8087b63a06f0457dd0c6c # v1
